---
import { categorias, masoterapia, marketing, online, salud } from "@lib/cursos";
import type { Seo } from "@interfaces/Seo";
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import Header from "@components/categorias/Header.astro";
import Masoterapia from "@components/categorias/Masoterapia.astro";
import Card from "@components/extras/Card.astro";

export const getStaticPaths = (() => {
  return categorias.map((categoria) => ({
    params: { slug: categoria.slug },
    props: { categoria },
  }));
}) satisfies GetStaticPaths;

interface Props {
  categoria: any;
}

const categoria = Astro.props.categoria;
const seo: Seo = {
  title: categoria.name + " | Cenakin OTEC Cursos Viña del Mar, Chile",
  description: categoria.description,
  url: `https://cenakin.cl/categorias/${categoria.slug}`,
  image: "https://cenakin.cl/images/logo_completo.jpg",
};

let cursos = [];
switch (categoria.slug) {
  case "masoterapia":
    cursos = masoterapia;
    break;
  case "marketing":
    cursos = marketing;
    break;
  case "online":
    cursos = online;
    break;
  case "salud":
    cursos = salud;
    break;
  default:
    cursos = [];
    break;
}
---

<Layout dataPag={seo}>
  <Container>
    <div class="mb-4">
      <Header titulo={categoria.name} descripcion={categoria.descripcion} />
      <h1 class="text-5xl font-bold mt-8 mb-4">Nuestros Cursos</h1>
      {
        categoria.slug !== "masoterapia" ? (
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {cursos.map((curso: any) => {
              return <Card slug={curso.slug} title={curso.name} />;
            })}
          </div>
        ) : (
          <Masoterapia cursos={cursos} />
        )
      }
    </div>
  </Container>
</Layout>
