---
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import Card from "@components/extras/Card.astro";
import type { Seo } from "@interfaces/Seo";
import { masoterapia, marketing, online, salud } from "@lib/cursos";
import Masoterapia from "@components/categorias/Masoterapia.astro";
import Inscripcion from "@components/extras/Inscripcion.astro";

const seo: Seo = {
  title: "Todos nuestro cursos | Cenakin OTEC Cursos Viña del Mar, Chile",
  description:
    "Un nuevo método de enseñanza para distintos cursos, con materiales incluidos, docentes kinesiólogos y calidad de servicio Viña del Mar, Chile.",
  url: `https://cenakin.cl/categorias/`,
  image: "https://cenakin.cl/images/logo_completo.jpg",
};
---

<Layout dataPag={seo}>
  <Container>
    <div class="my-20 lg:mb-4">
      <h1 class="mt-8 mb-4 font-bold text-5xl">Nuestros Cursos</h1>
      {
        masoterapia && masoterapia.length > 0 && (
          <Masoterapia cursos={masoterapia} />
        )
      }
      <div>
        {
          salud && salud.length > 0 && (
            <div class="mt-10">
              <h2 class="mt-8 mb-2 font-bold text-sky-600 text-lg lg:text-3xl uppercase">
                Cursos para profesionales de Salud
              </h2>
              <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
                {salud.map((curso: any) => {
                  return (
                    <Card
                      slug={curso.slug}
                      title={curso.name}
                      horas={curso.acf.horas}
                    />
                  );
                })}
              </ul>
            </div>
          )
        }
      </div>
      <div>
        {
          marketing && marketing.length > 0 && (
            <div class="mt-10">
              <h2 class="mt-8 mb-2 font-bold text-sky-600 text-lg lg:text-3xl uppercase">
                Cursos de Emprendimiento y Marketing
              </h2>
              <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
                {marketing.map((curso: any) => {
                  return (
                    <Card
                      slug={curso.slug}
                      title={curso.name}
                      horas={curso.acf.horas}
                    />
                  );
                })}
              </ul>
            </div>
          )
        }
      </div>
      <div>
        {
          online && online.length > 0 && (
            <div class="mt-10">
              <h2 class="mt-8 mb-2 font-bold text-sky-600 text-lg lg:text-3xl uppercase">
                Cursos y Formaciones Online
              </h2>
              <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
                {online.map((curso: any) => {
                  return (
                    <Card
                      slug={curso.slug}
                      title={curso.name}
                      horas={curso.acf.horas}
                    />
                  );
                })}
              </ul>
            </div>
          )
        }
      </div>
    </div>
  </Container>
</Layout>
<Inscripcion />
