---
import Layout from "@layouts/Layout.astro";
import Container from "@layouts/Container.astro";
import { Seo } from "@interfaces/Seo";
import { cursos } from "@lib/cursos";
import Cabecera from "@components/cursos/Cabecera.astro";
import Introduccion from "@components/cursos/Introduccion.astro";
import Info from "@components/extras/Info.astro";
import Docentes from "@components/cursos/Docentes.astro";
import Video from "@components/cursos/Video.astro";
import Reserva from "@components/cursos/Reserva.astro";
import ReservaPrecio from "@components/cursos/ReservaPrecio.astro";
import DatosContacto from "@components/extras/DatosContacto.astro";
import Plan from "@components/cursos/Plan.astro";
import ReIn from "@components/cursos/ReIn.astro";
import Horarios from "@components/cursos/Horarios.astro";

export const getStaticPaths = (() => {
  return cursos.map((curso) => ({
    params: { slug: curso.slug },
    props: { curso },
  }));
}) satisfies GetStaticPaths;

interface Props {
  curso: any;
}

const curso = Astro.props.curso;

const seo: Seo = {
  title: `${curso.name} - Cenakin OTEC Cursos Viña del Mar, Chile`,
  description: curso.yoast_head_json.description,
  url: `https://cenakin.cl/cursos/${curso.slug}`,
  image: `https://cenakin.cl/images/cursos/${curso.slug}/1@1x.webp`,
};
---

<Layout
  dataPag={seo}
  precio={curso.regular_price || curso.sale_price}
  id={curso.id}
>
  <Container>
    <Cabecera titulo={curso.name} slug={curso.slug} id={curso.id} />
    <div class="gap-4 grid grid-cols-1 lg:grid-cols-3 lg:my-8 mt-8">
      <div class="col-span-1 lg:col-span-2">
        <div class="gap-4 grid grid-cols-1">
          <Introduccion texto={curso.description} />
          <Info />
          <Horarios
            f_inicio={curso.acf.fecha_inicio}
            f_termino={curso.acf.fecha_termino}
            formato={curso.acf.formato}
          />
          <Plan plan={curso.acf.plan_estudios} />
          <Docentes docentes={curso.acf.profesores} />
          <ReIn requisitos={curso.acf.dirigido} incluye={curso.acf.incluye} />

          <Video />
          <Reserva
            precio={curso.regular_price}
            descuento={curso.sale_price}
            id={curso.id}
            fecha={curso.date_on_sale_to}
          />
        </div>
      </div>
      <aside class="hidden lg:block top-0 sticky col-span-1">
        <DatosContacto />
        <div class="stick">
          <ReservaPrecio
            precio={curso.regular_price}
            descuento={curso.sale_price}
            id={curso.id}
            fecha={curso.date_on_sale_to}
          />
        </div>
      </aside>
    </div>
  </Container>

  <style>
    .stick {
      position: sticky;
      top: 20px;
    }
  </style>

  <script>
    const btnComprar1 = document.getElementById("compra1");
    const btnComprar2 = document.getElementById("compra2");
    const btnComprar3 = document.getElementById("compra3");
    const idCurso1 = btnComprar1.getAttribute("aria-data-id");
    const idCurso2 = btnComprar2.getAttribute("aria-data-id");
    const idCurso3 = btnComprar3.getAttribute("aria-data-id");

    btnComprar1.addEventListener("click", (e) => {
      e.preventDefault();
      // fbq("track", "AddToCart");
      window.location.href = `https://cenakin.cl/otec/carrito/?add-to-cart=${idCurso1}`;
    });
    btnComprar2.addEventListener("click", (e) => {
      e.preventDefault();
      // fbq("track", "AddToCart");
      window.location.href = `https://cenakin.cl/otec/carrito/?add-to-cart=${idCurso2}`;
    });
    btnComprar3.addEventListener("click", (e) => {
      e.preventDefault();
      // fbq("track", "AddToCart");
      window.location.href = `https://cenakin.cl/otec/carrito/?add-to-cart=${idCurso3}`;
    });
  </script>
</Layout>
