---
import Card from "@components/extras/Card.astro";
const { cursos } = Astro.props;

const filtro = (id) => {
  return cursos.filter((curso) =>
    curso.categories.some((categoria) => categoria.id === id),
  );
};

const masajes = filtro(34);
const deportivos = filtro(45);
const esteticos = filtro(44);
const diplomados = filtro(32);
const inicio = filtro(29);
const complementaria = filtro(46);

const categorias = [
  {
    title: "Diplomados en masoterapía",
    cat: diplomados,
  },
  {
    title: "Cursos de Masajes",
    cat: masajes,
  },
  {
    title: "Cursos de masajes deportivos",
    cat: deportivos,
  },
  {
    title: "Cursos de masajes estéticos",
    cat: esteticos,
  },
  {
    title: "Cursos de masajes holísticos",
    cat: inicio,
  },
];
---

<div class="mb-20 lg:mb-0">
  <h2 class="mt-8 mb-2 font-bold text-lg lg:text-2xl uppercase">
    Diplomados en masoterapía
  </h2>
  <div>
    <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
      {
        diplomados.map((curso) => {
          return (
            <Card
              slug={curso.slug}
              title={curso.name}
              horas={curso.acf.horas}
            />
          );
        })
      }
    </ul>
  </div>

  <h2 class="mt-8 mb-2 font-bold text-lg lg:text-2xl uppercase">
    Cursos de Masajes
  </h2>
  <div>
    <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
      {
        masajes.map((curso) => {
          return (
            <Card
              slug={curso.slug}
              title={curso.name}
              horas={curso.acf.horas}
            />
          );
        })
      }
    </ul>
  </div>

  <h2 class="mt-8 mb-2 font-bold text-lg lg:text-2xl uppercase">
    Cursos de masajes deportivos
  </h2>
  <div>
    <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
      {
        deportivos.map((curso) => {
          return (
            <Card
              slug={curso.slug}
              title={curso.name}
              horas={curso.acf.horas}
            />
          );
        })
      }
    </ul>
  </div>

  <h2 class="mt-8 mb-2 font-bold text-lg lg:text-2xl uppercase">
    Cursos de masajes estéticos
  </h2>
  <div>
    <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
      {
        esteticos.map((curso) => {
          return (
            <Card
              slug={curso.slug}
              title={curso.name}
              horas={curso.acf.horas}
            />
          );
        })
      }
    </ul>
  </div>

  <h2 class="mt-8 mb-2 font-bold text-lg lg:text-2xl uppercase">
    Cursos de masajes holísticos
  </h2>
  <div>
    <ul class="gap-4 grid grid-cols-1 lg:grid-cols-2 list">
      {
        inicio.map((curso) => {
          return (
            <Card
              slug={curso.slug}
              title={curso.name}
              horas={curso.acf.horas}
            />
          );
        })
      }
    </ul>
  </div>
</div>
