---
import Card from "@components/extras/Card.astro";
const { cursos } = Astro.props;

const masajes = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 34),
);

const deportivos = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 45),
);

const esteticos = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 44),
);

const diplomados = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 32),
);

const inicio = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 29),
);

const complementaria = cursos.filter((curso) =>
  curso.categories.some((categoria) => categoria.id === 46),
);
---

<div class="mb-20 lg:mb-0">
  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Para ser un Masoterapeuta Profesional
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      diplomados.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Inicia o explora en la masoterapia
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      complementaria.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Cursos de Masajes
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      masajes.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Cursos de masajes deportivos
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      deportivos.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Cursos de masajes estéticos
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      esteticos.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>

  <h2 class="text-lg lg:text-2xl font-bold mt-8 mb-2 uppercase">
    Terapia complementaria
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      inicio.map((curso) => {
        return (
          <div class="col-span-1">
            <Card slug={curso.slug} title={curso.name} />
          </div>
        );
      })
    }
  </div>
</div>
